.navbar {
  height: 15vh;
}

.navbar-menu, .navbar-brand, .navbar-end{
  background-color: $primary-color;
}

.transparent{
  background-color: transparent !important;
}

.absolute {
  position: absolute;
}

.navbar-item{
  height: 100%;
  color: $link-color;
}

.navbar-item img {
  max-height: 4rem;
}

.navbar-item:hover{
  background-color: $secondary-color;
  color: $primary-color;
}

.navbar-burger span {
  background-color: $secondary-color;
}

.dropdown-item:hover {
  background-color: $fade-color;
}

.navbar-link:hover {
  background-color: $secondary-color;
}